.container h1 {
    background-color: blueviolet;
    text-align: center;
}

.footer-copy {
    position: relative;
    top: 600px;

}

.footer-copy>div {
    background-color: gray;
}

.footer-copy>div>p {
    text-align: center;
}